<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lanchonete</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="container">

    @*Pula 2 linhas Para o Titulo da Pagina nao ficar muito em cima*@
    <strong><font face="arial" size="3">Cadastro de Usuarios</font></strong>
    @*Titulo da Pagina*@
    <br />
    @*Pula mais 1 linha*@
    <center><a href="../Usuario/Secretaria">Voltar</a></center>
    @*Link de voltar*@
    <br />
    @*Pula mais 1 linha*@

    @*Layout da Pagina*@
    @model Projeto.Apresentacao.Models.UsuarioCadastroViewModel
    @*Model da Pagina*@
    @using (Html.BeginForm())
    {
        @*Formulario*@
        <div class="row">
            <div class="col-md-4">
                <label><font face="arial" size="3" color="black">Codigo Usuario:</font></label>
                @Html.TextBoxFor(model => model.CodigoUsuario)
                @*Campo Codigo do(a) Usuario(a)*@
                <br /><br />
                <label><font face="arial" size="3" color="black">Login:</font></label>
                @Html.TextBoxFor(model => model.Nome)
                @*Campo Nome do(a) Usuario(a)*@
                <br /><br />
                <label><font face="arial" size="3" color="black">Telefone:</font></label>
                @Html.PasswordFor(model => model.Senha)
                @*Campo Senha do(a) Usuario(a)*@
                <br /><br />
                <input type="submit" class="btn btn-primary btn-sm" value="Efetuar Cadastro" />
                @*Botao de Efetuar o Cadastro*@
                <hr />

                <strong><font face="arial" size="3" color="black">@ViewBag.Message</font></strong>
                @*Mensagem da Pagina*@
            </div>
        </div>
    }
