
@{
    ViewBag.Title = "CadastroSecretaria";
    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_LayoutMobile.cshtml"
                                                    : "~/Views/Layout/Layout.cshtml";
}

<h2>CadastroSecretaria</h2>

