@{
    ViewBag.Title = "Contato";
    Layout = Request.Browser.IsMobileDevice ? "~/Views/Shared/_LayoutMobile.cshtml"
                                                    : "~/Views/Layout/Layout5.cshtml";
}
@*Layout da Pagina*@
<h2>Coloque a sua descricao no Fale Conosco:</h2>
@*Aviso da Pagina*@